* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 8px 6px;
  border-radius: 3px;
  position: absolute;
  right: 10px;
}

.background {
  background: cadetblue;
  min-height: 100vh;
}

.content {
  background: white;
  padding: 15px;
  border-radius: 3px;
  min-height: 500px;
  width: 400px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 4px #000000;
}

.todoInput {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
}

.addButton {
  font-size: 24px;
}

.todos {
  margin: 0;
  padding: 0;
}

.todo {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  margin: 8px 0;
  background: #eee;
  font-size: 16px;
  border-radius: 3px;
}

.todo:hover {
  background: #ddd;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.delete:hover {
  background-color: firebrick;
  color: white;
  border-radius: 0 3px 3px 0;
}

.bottom {
  padding: 20px;
}

.pending {
  margin: 8px 6px;
  position: absolute;
  left: 10px;
  bottom: 16px;
}

.clearAllButton {
  font-size: 16px;
  bottom: 10px;
}
